<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spiral.ezprog_afk.notesappaac">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_add_circle_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_add_circle_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Other.MyAlarmReceiver" />

        <activity
            android:name=".AddEditActivities.AddEditShopActivity"
            android:parentActivityName=".BottomActivities.ToDoShopActivity"></activity>
        <activity
            android:name=".BottomActivities.ToDoShopActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".Other.SplashScreen" />
        <activity
            android:name=".AddEditActivities.AddEditToDoActivity"
            android:parentActivityName=".BottomActivities.ToDoShopActivity" />
        <activity android:name=".AddEditActivities.EditProfileActivity" />
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".BottomActivities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottomActivities.MainActivity" />
        </activity>
        <activity
            android:name=".AddEditActivities.AddEditNoteActivity"
            android:parentActivityName=".BottomActivities.MainActivity" />
        <activity
            android:name=".BottomActivities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BottomActivities.ProfileActivity" />
        <activity android:name=".BottomActivities.CompletedActivity" />
    </application>

</manifest>